<div class="container">
    <div class="row">
        <div class="col">
            <input [(ngModel)]="signInModel.email" mdbInput type="text" id="email" class="form-control" />
            <label mdbLabel class="form-label" for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input [(ngModel)]="signInModel.password" mdbInput type="password" id="password" class="form-control" />
            <label mdbLabel class="form-label" for="password">Password</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button (click)="signIn()" mdbRipple type="button" class="btn btn-secondary">Войти</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <a (click)="goToSignUp()" href="javascript: void">Нет аккаунта? Зарегистрируйтесь</a>
        </div>
    </div>
</div>